{% extends 'base.html.twig' %}

{% block title %}Liste des cartes{% endblock %}

{% block body %}
<h1>Liste des cartes</h1>

<section>
<ul>
    {% for maps in map %}
    <li>
        <div>{{maps.name}}</div>
    </li>
    {% endfor %}
</ul>

</section>
{% endblock %}
